# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "Pauvre Coude"
email: pauvrecoude@gmail.com
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://pauvrecoude.basspistol.com" # the base hostname & protocol for your site, e.g. http://example.com
instagram_username: pipershudvard
# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: >- # this means to ignore newlines until "baseurl:"
  'Il est la réunion de trois articulations : huméro-ulnaire, huméro-radiale et radio-ulnaire proximale. Lorsque l''avant-bras est tendu, le bras et l''avant-bras ne sont pas alignés dans le plan frontal. Les deux parties forment un angle ouvert en dehors, d''environ 170° chez l''homme, 160° chez la femme ; c'est ce qui est appelé le valgus physiologique (on retrouve la même chose pour le genou).'
author:
  name: Pauvre Coude
  email: pauvrecoude@gmail.com
  twitter: # twitter username without the @ symbol
social:
  name: Pauvre Coude
  links:
    - 

# Build settings
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate-v2

# Plugin settings:

# excerpt_separator: '<!--more-->'
pagination:
  enabled: true

# Site Variables:

# collection
collections:
  sorties:
    output: true
    permalink: /:path/
    layout: release

# defaults
timezone: Europe/Stockholm
permalink: /:categories/:title/
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
        layout: "default"
sass:
    sass_dir: /assets/sass/