# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "Cuttlefish AB"
email: info@cuttlefish.se
phone: '+46843732600'
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.cuttlefish.se" # the base hostname & protocol for your site, e.g. http://example.com
google_analytics_key: UA-140512277-1
instagram_username: cuttlefish_se

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: >- # this means to ignore newlines until "baseurl:"
  'Cuttlefish startades 2016 för att erbjuda företag, grupper och privatpersoner resor och konferenser som överträffar förväntningarna. Utöver oss som arbetar aktivt i Cuttlefish har vi ett nätverk av erfarna människor som varit med på arrangörssidan och vet vad som funkar och vilka fallgropar man skall undvika.'
author:
  name: Cuttlefish AB
  email: info@cuttlefish,se
  twitter: # twitter username without the @ symbol
social:
  name: Cuttlefish
  links:
    - https://www.instagram.com/cuttlefish_se/
    - http://www.twitter.com/cuttlefish_se
    - https://www.facebook.com/cuttlefish.se/    
lang: sv_SE
timezone: Europe/Stockholm

# Build settings
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed

# Plugin settings:

# excerpt_separator: '<!--more-->'
pagination:
  enabled: true
  title: ':title sida :num av :max'



# Site Variables:

# collection
collections:
  tjanster:
    output: "true"
    permalink: "/tjaenster/:name/"
  cuttlefish_members:
    _hide_content: "true"
  landing_pages:
    output: "true"
    permalink: "/:name/"


# defaults
uploads_dir: "docs"
permalink: /:categories/:title/
sass:
  sass_dir: /assets/sass/
defaults:
  - 
    scope:
      path: "/docs/*"
    values:
      sitemap: false
  - 
    scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
      _options:
        image:
          uploads_dir: "images"
          width: "960"
          height: "540"
          mime_type: "image/jpeg"
          resize_style: "contain"
        hero_image:
          uplaods_dir: "images"
          width: "960"
          height: "540"
          mime_type: "image/jpeg"
          resize_style: "cover"
        content:
          width: "960"
          height: "540"
          uploads_dir: "images"
          mime_type: "image/jpeg"
          resize_style: "contain"
  - 
    scope:
      path: ""
      type: "tjanster"
    values:
      layout: "tjaenster"
      _options:
        image:
          uploads_dir: "images/tjaenster"
          width: "960"
          height: "540"
          resize_style: "contain"
          mime_type: "image/jpeg"
        content:
          uploads_dir: "images/tjaenster"
          width: "960"
          height: "540"
          resize_style: "contain"
          mime_type: "image/jpeg"
  - 
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      permalink: /:year/:month/:day/:title/
      _options:
        image:
          uploads_dir: "images/posts"
          width: "960"
          height: "540"
          resize_style: "contain"
          mime_type: "image/jpeg"
        content:
          uploads_dir: "images/posts"
          width: "540"
          height: "540"
          resize_style: "contain"
          mime_type: "image/jpeg"
  - 
    scope:
      path: ""
      type: "cuttlefish_members"
    values:
      _options:
        image:
          uploads_dir: "images"
          width: "120"
          height: "120"
          resize_style: "cover"
        content:
          uploads_dir: "images"
          width: "120"
          height: "120"
          resize_style: "cover"
  - 
    scope:
      path: ""
      type: landing_pages
    values:
      _options:
        image:
          width: "960"
          height: "540"
          resize_style: "cover"
          uploads_dir: "images/landing"
        file: 
          uploads_dir: "docs"
        content:
          uploads_dir: "docs"
      _comments:
        title: "Tittel på Sidan"
        pdf_path: "Välj en PDF fil. Länken till den visas i fältet som allt som kommer efter cuttlefish.se (PDF filer hamnar aldrig i sitemap)"
        permalink: "Ordet som skrivs här blir det som kommer efter cuttlefish.se/"
        hubspot: "Siffra på hubspots FormID för formulären. Den fins i koden som hubspot ger för sina formulärer"
        image: Bild som visas i huvudet.
        layout: "Behövs en kustomiserad layout? Då kan du välja den här (Default för landningsidor är ''Landing''')"
        sitemap: "Checka denna box om sökmoterar SKA inedexera sidan"
