---
title: Aktuellt från Cuttlefish
description: 'Resmål och restips, nyheter och erbjudanden.'
permalink: /aktuellt/
---
{% for post in site.posts limit: 1%}
<section id="banner" style="background-image: url('{{ post.image }}');height: calc(100% - 40px);">
  <div class="content">
    <header style="background-color: rgba(230, 255, 230, 0.75);">
      <img src="/images/CuttlefishAvatar.svg" />
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>

      <h2>{{ post.title }}</h2>
      <p>{{ post.description }} </p>
      <br />
      
        Publicerad: {{ post.date | date: '%Y-%m-%d' }}<br /></p>
        <a href="{{ post.url }}" class="button primary">Läs mer</a>
      
    </header>

  </div>
  <a href="#main" class="goto-next scrolly">Next</a>
</section>
{% endfor %}
<!-- Main -->
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major editable">
        <h2>Att resa från stockholm med sitt företag ska vara lärorikt!</h2>
        <p>Här hittar du en samling artiklar och revyer om jordens olika inspirationshörn.</p>
      </header>
      <!-- Image -->
      <section>
        <div class="box alt">
          <div class="row gtr-50 gtr-uniform">
            {% for post in site.posts limit:10 %}
            <div class="col-4 col-6-xsmall#" style="flex: 1 1 400px;"><a href="{{ post.url}}"><span
                  class="image fit"><img src="{{ post.image }}" alt="{{ post.title }}" /></span></a>
              <h3>{{ post.title }}</h3>
              <p>{{ post.date | date: "%a, %b %d, %Y" }}</p>
              <p>{{ post.description }}</p>
              <ul class="actions">
                <li>
                  <a href="{{ post.url }}" class="button primary">Läs mer</a>
                </li>
              </ul>
              <!-- Editor Link -->
              <a href="cloudcannon:collections/{{ post.path }}" class="editor-link cms-editor-link">Redigera Post</a>
            </div>
            {% endfor %}

          </div>
        </div>
      </section>
    </div>
  </div>