---
title: Aktuellt
description: Nyheter och erbjudanden från Cuttlefish. Resebyrån med piff.
permalink: /aktuellt/
---
  <!-- Main -->
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
      </header>
      <!-- Image -->
      <section>
        <div class="box alt">
          <div class="row gtr-50 gtr-uniform">
            {% for post in site.posts limit:10 %}
            <div class="{% if forloop.first %}col-12{% else %}col-4 col-6-xsmall{% endif %}"><a href="{{ post.url}}"><span
                  class="image fit"><img src="{{ post.image }}" alt="{{ post.title }}" /></span></a>
              <h3>{{ post.title }}</h3>
              <p>{{ post.date | date: "%a, %b %d, %Y" }}</p>
              <p>{{ post.description }}</p>
              <ul class="actions">
                <li>
                  <a href="{{ post.url }}" class="button">Läs mer</a>
                </li>
              </ul>
            </div>
            {% endfor %}

          </div>
        </div>
      </section>
    </div>
  </div>