---
title: Välskräddade resor och upplevelser
description: >-
  Inga standardpaket – bara riktigt skräddarsydda resor med företag, grupper och
  privata sällskap.
image: /images/denys-nevozhai-rrnbmipmtzy-unsplash.jpg
hero_image: /images/cuttlefish_hero.svg
layout: default
---

<!-- Banner -->
<section id="banner" style="background-image: url('{{ page.image }}');">
  <div class="content">
    <header>
      <h2>{{ page.title }}</h2>
      <h3>{{ page.description }}</h3>
    </header>
    <span class="image"><img src="/images/avatar.png" alt="Cuttlefish Logo" class="editable" /></span>
  </div>
  <a href="#one" class="goto-next scrolly">Next</a>
</section>
<!-- One -->
<section id="one" class="spotlight style1 bottom">
  <span class="image fit main"><img src="{{ page.hero_image }}" alt="Illustration" /></span>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="editable col-4 col-12-medium">
          <header>
            <h2>Konstruktiva Resor</h2>
            <p>Uppt&auml;cktsf&auml;rder m&aring;ste vara givande!</p>
          </header>
        </div>
        <div class="editable col-4 col-12-medium">
          <p>P&aring; Cuttlefish &auml;r vi inte n&ouml;jda f&ouml;rr&auml;n du och ditt reses&auml;llskap &auml;r det. Vare sig det g&auml;ller en konferensresa eller kickoff med hela f&ouml;retaget eller lilla teamet s&aring;&nbsp;</p>
          <p>&Auml;r du ute efter en speciell upplevelse med ditt f&ouml;retagsteam eller dina b&auml;sta v&auml;nner utan att beh&ouml;va dra hela lasset sj&auml;lv?</p>
          <p>Vi hj&auml;lper dig fram till ditt perfekta arrangemang &ndash;&nbsp;</p>
          <p>Vill du ha en Vi tror inte p&aring; standardiserade paketresor Cuttlefish driver arbetet med att s&auml;tta dina &ouml;nskem&aring;l och krav i fokus&nbsp;</p>
          <p>startades 2016 f&ouml;r att erbjuda f&ouml;retag och grupper resor och konferenser som &ouml;vertr&auml;ffar f&ouml;rv&auml;ntningarna. Ut&ouml;ver oss som arbetar aktivt i Cuttlefish har vi ett n&auml;tverk av erfarna tjejer och killar som &auml;r erfarna arrang&ouml;rer och som vet vad som funkar - samt vilka fallgroparna &auml;r och hur man undviker dem!</p>
        </div>
        <div class="editable col-4 col-12-medium">
          <p>Med hj&auml;lp av v&aring;r gemensamma erfarenhetsbas skapar vi tillsammans&nbsp; konferensen, upplevelsen eller eventet som blir den fullpo&auml;ngare v&aring;ra kunder &auml;r ute efter.</p>
          <p><b>Sl&aring; oss en signal och l&aring;t oss f&aring; ber&auml;tta mer om hur vi jobbar och varf&ouml;r vi tror att vi kan hj&auml;lpa er!</b></p>
        </div>
      </div>
    </div>
  </div>

</section>
{% for tjanst in site.tjanster %}
<!-- Two -->
<section class="spotlight style1 {% cycle 'right', 'left' %}">
  <span class="image fit main"><img src="{{ tjanst.image }}" alt="{{ tjanst.title }}" /></span>
  <div class="content">
    <header>
      <!-- Editor Link -->
      <a href="cloudcannon:collections/{{ tjanst.path }}" rel="nofollow" class="editor-link cms-editor-link">Redigera Tjänst</a>
      <h2>{{ tjanst.title}}</h2>
      <p>{{ tjanst.description }}</p>
    </header>
    <p>{{ tjanst.content | truncate: 120 }}</p>
    <ul class="actions">
      <li><a href="{{ tjanst.url }}" class="button primary">Läs mer</a></li>
    </ul>
  </div>

</section>
{% endfor %}


<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
  <div class="container">
    <header class="major editable">
      <h2>Om oss</h2>
      <p>Vi &auml;r ett litet team med ett stort kontaktn&auml;t.</p>
    </header>
    <div class="box alt">
      <div class="row gtr-uniform">
        {% assign members = site.cuttlefish_members | sort: "namn" %}
        {% for medlem in members %}{% if medlem.anstalld == true %}
        <section class="col-4 col-6-medium col-12-xsmall">
          <span class="icon alt major" style="background-image:url({{ medlem.image }});background-repeat: no-repeat;"></span>
          <h3>{{ medlem.namn }}</h3>
          <p>{{ medlem.bio_markdown | markdownify }}</p>
          <!-- Editor Link -->
          <a href="cloudcannon:collections/{{ medlem.path }}" rel="nofollow" class="editor-link cms-editor-link">Redigera Profil</a>
        </section>
        {% endif %}{% endfor %}
      </div>
    </div>
  </div>
</section>

{% include contactform.html %}



