---
title: Lite Piff i vardagen
description: >-
  Resor För Företag, Grupper och Privatpersoner.
image: /images/piff.jpg
andra_image: /images/hero.jpg
layout: default
---

<!-- Banner -->
      <section id="banner">
        <div class="content">
          <header>
            <h2>{{ page.title }}</h2>
            <h3>{{ page.description }}</h3>
          </header>
          <span class="image"><img src="/images/avatar.png" alt="Cuttlefish Logo" class="editable" /></span>
        </div>
        <a href="#one" class="goto-next scrolly">Next</a>
      </section>
			<!-- One -->
      <section id="one" class="spotlight style1 bottom">
        <span class="image fit main"><img src="{{ page.andra_image }}" alt="Illustration" /></span>
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-4 col-12-medium">
                <header>
                  <h2 class="editable">Konstruktiva Resor</h2>
                  <p class="editable">Upptäktsfärder ska vara givande!</p>

                </header>
              </div>
              <div class="col-4 col-12-medium">
                <p class="editable">Cuttlefish startades 2016 för att erbjuda företag, grupper och privatpersoner resor och konferenser som överträffar förväntningarna. Utöver oss som arbetar aktivt i Cuttlefish har vi ett nätverk av erfarna tjejer och killar som varit med på arrangörssidan och vet vad som funkar och vilka fallgropar man skall undvika. </p>
              </div>
              <div class="col-4 col-12-medium">
                <p class="editable">Med hjälp av vår gemensamma erfarenhetsbas skapar vi tillsammans den resa, konferens eller kick-off som blir den fullpoängare våra kunder är ute efter.
                <br /><b>Slå en signal och låt oss få berätta mer om hur vi jobbar och varför vi tror att vi kan hjälpa er.</b></p>
              </div>
            </div>
          </div>
        </div>

      </section>
{% for tjanst in site.tjanster %}
			<!-- Two -->
				<section id="two" class="spotlight style1 {% cycle 'right', 'left' %}">
					<span class="image fit main"><img src="{{ tjanst.image }}" alt="{{ tjanst.title }}" /></span>
					<div class="content">
						<header>
              <!-- Editor Link -->
              <a href="cloudcannon:collections/{{ tjanst.path }}" class="editor-link cms-editor-link">Redigera Tjänst</a>
							<h2>{{ tjanst.title}}</h2>
							<p>{{ tjanst.description }}</p>
						</header>
						<p>{{ tjanst.content | truncate: 120 }}</p>
						<ul class="actions">
							<li><a href="{{ tjanst.url }}" class="button primary">Läs mer</a></li>
						</ul>
					</div>

        </section>
{% endfor %}


			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2 class="editable">Om oss</h2>
							<p class="editable">Vi är ett litet team med ett stort kontaktnät.</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
{% assign members = site.vi | sort: "namn" %}
{% for medlem in members %}
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon alt major" style="background-image:url({{ medlem.image }})"></span>
                  <h3>{{ medlem.namn }}</h3>
                  <p>{{ medlem.bio_markdown }}</p>
                  <!-- Editor Link -->
              <a href="cloudcannon:collections/{{ medlem.path }}" class="editor-link cms-editor-link">Redigera Profil</a>
								</section>
{% endfor %}
							</div>
						</div>
					</div>
				</section>

{% include contactform.html %}



