  <!-- Footer -->
  <footer id="footer">
    {% if page.collection != 'landing_pages' %}
      <h2>Instagram inlägg</h2>
      <ul id="instagram">
          {% for post in site.data.instagram limit: 5 %}
            <li>
              <a href="https://www.instagram.com/p/{{ post.detail.shortcode }}" target="_blank" rel="noopener noreferrer nofollow">
              <img
                src="{{ site.baseurl }}/images/insta/{{ post.detail.display_url }}"
                data-gallery-source="{{ site.baseurl }}/assets/instagram/{{ post.detail.display_url }}"
                alt="{{ post.detail.edge_media_to_caption.edges[0].node.text | strip_html }}" />
              </a>
            </li>
          {% endfor %}
        </ul>
    {% endif %}
      <ul class="icons">
        {% for social in site.data.social-satelites %}
        <li><a href="{{ social.url }}" class="icon alt fa-{{ social.icon }}" target="_blank"  rel="noopener noreferrer nofollow"><span class="label">{{ social.name }}</span></a></li>
        {% endfor %}
      </ul>
      <ul class="copyright">
        <li class="editable">Cuttlefish AB</li>
        <li class="editable">Drakens Gränd 1</li>
        <li class="editable">111 30 Stockholm</li>
        <li class="editable"><a href="mailto:info@cuttlefish.se">info@cuttlefish.se</a></li>
        <li class="editable"><a href="tel:+46843732600">+46 8 437 326 00</a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Cuttlefish {{ site.time | date: "%Y" }}</li><li><a href="/credits/">Privacy Policy & Credits</a></li>
      </ul>
    </footer>
    
