			<!-- Header -->
				<header id="header">
					<h1 style="margin:auto;"><a href="/" id="logo" ><img src="/CuttleFish-logo_small.svg" alt="Cuttlefish Logo"></a></h1>
					<nav id="nav">
						<ul>
              {% if page.url != '/' %}<li><a href="/">Hem</a></li>{% endif %}
              <li>
                <a href="#">Våra tjänster</a>
                  <ul> 
                    {% for tjanst_name in site.data.tjansteprio.tjanster %} 
                    {% for tjanst in site.tjanster %} 
                    {% capture name -%}
                    {{ tjanst.relative_path | replace_first: tjanst.collection, '' | replace_first: '_/', '' | replace_first: '.md', '' }}
                    {%- endcapture %} 
                    {% if name == tjanst_name %}
                    <li><a href="{{ tjanst.url }}">{{ tjanst.title }}</a></li>
                    
                    {% break %} {% endif %} {% endfor %} {% endfor %}
                    <li class="editor-link cms-editor-link"><a href="cloudcannon:collecitions/_data/tjansteprio.yml" rel="nofollow" class="editor-link cms-editor-link">Redigera ordning</a></li>
                  </ul>
              <li><a href="/aktuellt/">Aktuellt</a></li>
              <li><a href="/#five" class="button primary">Kontakta oss</a></li>
						</ul>
					</nav>
				</header>
        


